<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <meta charset="UTF-8">
    <meta lang="FR">
</head>
<body>
    <h2>Edit User</h2>
    <form method="post">
        <div>
            <p>Lastname</p>
            <input name="name" id="name" type="text">
            <p>Firstname</p>
            <input name="firstname" id="firstname" type="text">
        </div>
        <div>
            <p>Mail Address</p>
            <input name="email" id="email" type="email">
            <p>Password</p>
            <input name="password" id="password" type="password">
            <p>Repeat Password</p>
            <input name="confirmpassword" id="confirmpassword" type="password">
            <p>Admin ?</p>
            <input name="role" id="role" type="checkbox">
        </div>
        <div>
            <input id="update" type="submit" value="Editer utilisateur">
            <input id="delete" type="submit" value="Supprimer utilisateur">
        </div>
    </form>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="test.js"></script>
    <script>
        let data = {
            name: "Philippe",
            firstname: "Jean",
            email: "jean@philippe.fr",
            level: true
        }

        function displayData()
        {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const id = urlParams.get('id')
            console.log(id)

            let name = document.getElementById("name");
            let firstname = document.getElementById("firstname");
            let email = document.getElementById("email");
            let is_admin = document.getElementById("role");

            if (data) {
                name.value = data["name"]
                firstname.value = data["firstname"]
                email.value = data["email"]
                is_admin.checked = data["level"]
            }
        }

        displayData(data)
    </script>
</body>
</html>