<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <div>
            <h3>Lastname</h3>
            <input name="name" id="name" type="text">
            <h3>Firstname</h3>
            <input name="firstname" id="firstname" type="text">
        </div>
        <div>
            <h3>Mail Address</h3>
            <input name="email" id="email" type="email">
            <h3>Password</h3>
            <input name="password" id="password" type="password">
            <h3>Repeat Password</h3>
            <input name="confirmpassword" id="confirmpassword" type="password">
        </div>
        <div>
            <input id="update" type="submit" value="Editer utilisateur">
            <input id="delete" type="submit" value="Supprimer utilisateur">
        </div>
    </form>
</body>
</html>