<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <div>
            <p>Lastname</p>
            <input name="name" id="name" type="text">
            <p>Firstname</p>
            <input name="firstname" id="firstname" type="text">
        </div>
        <div>
            <p>Mail Address</p>
            <input name="email" id="email" type="email">
            <p>Password</p>
            <input name="password" id="password" type="password">
            <p>Repeat Password</p>
            <input name="confirmpassword" id="confirmpassword" type="password">
        </div>
        <div>
            <input id="update" type="submit" value="Editer utilisateur">
            <input id="delete" type="submit" value="Supprimer utilisateur">
        </div>
    </form>
</body>
</html>