<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="get" action="create">
        <div>
            <h3>Nouvel utilisateur</h3>
            <input id="create" type="submit" value="Créer utilisateur">
        </div>
    </form>
    <form method="post" action="edit">
        <div>
            <h3>Rechercher utilisateur</h3>
            <input name="email" id="email" type="email">
            <input id="edit" type="submit" value="Chercher">
        </div>
    </form>
</body>
</html>