<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <meta charset="UTF-8">
    <meta lang="FR">
</head>
<body>
    <h2>Create User</h2>
    <form method="post">
        <div>
            <p>Nom</p>
            <input name="name" id="name" type="text"></input>
            <p>Prénom</p>
            <input name="firstname" id="firstname" type="text"></input>
        </div>
        <div>
            <p>Adresse mail</p>
            <input name="email" id="email" type="email"></input>
            <p>Mot de passe</p>
            <input name="password" id="password" type="password"></input>
        </div>
        <div>
            <input id="confirm" type="submit" value="Confirmer"></input>
        </div>
    </form>
</body>
</html>