<!DOCTYPE html>
<html>
<head>
    <title>Creer un utilisateur</title>
    <meta charset="UTF-8">
    <meta lang="FR">
</head>
<body>
<h2>Login</h2>
<form method="post">
    <div>
        <p>Mail Address</p>
        <input name="email" id="email" type="email">
        <p>Password</p>
        <input name="password" id="password" type="password">
    </div>
    <div>
        <input id="confirm" type="submit" value="Confirmer">
    </div>
    <div>
        <a href=""><button>Reset password</button></a>
    </div>
</form>
</body>
</html>